
{% extends 'index.html' %}
{% load staticfiles %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->

    <!--<title>User test</title>-->


    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!-- It is important to put the bootstrap scripts in the head -->
{% block pagehead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
   <!-- stylesheet -->
    <link href="{% static 'Test_App/css/literallycanvas.css' %}" rel="stylesheet" />

    <!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.js"></script>

    <!-- Literally Canvas -->
    <script src="{% static 'Test_App/js/literallycanvas.js' %}"></script>

    <!-- include summernote css/js-->
   <link href="{% static 'Test_App/dist/summernote.css' %}" rel="stylesheet">
    <script src="{% static 'Test_App/dist/summernote.js' %}"></script>
{% endblock %}







 {% block content %}
<button id="hide-canvas"class="btn btn-primary" type="submit" name="Hide Canvas">Hide Canvas </button>
<div id="canvas-wrapper">
<div class="literally export-svg"></div>

<form class="controls export-svg">
  <input  class="btn btn-primary" type="submit" data-action="export-as-svg" value="Export as SVG" />

</form>
</div>
<button id="hide-summernote"class="btn btn-primary" type="submit" name="Hide Summernote">Hide Notes</button>

<div id="notes">
<div id="summernote">Hello Summernote</div>
    </div>
{% endblock %}
{% block bodyscripts %}
    <!-- kick it off -->

<script>
//using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
//alert(csrftoken);
/*
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
*/


  $(document).ready(function() {
             var url;
             var posturl;
             posturl="{% url 'Canvas2' %}";
            url="{% static 'Test_App/img'%}";

            var request= new XMLHttpRequest();
            var formData= new FormData()
            var lc = LC.init(document.getElementsByClassName('literally export-svg')[0],{imageURLPrefix: url });
            var svgString = lc.getSVGString();
            var exportBlob=new Blob([lc.getSVGString()], {type: "image/svg"});
            var formData=new FormData();
    $('#hide-canvas').click(function(){
  $('#canvas-wrapper').toggle();
  });
    $('.controls.export-svg [data-action=export-as-svg]').click(function(e) {
      e.preventDefault();
      request.open("POST",posturl,true);
      formData.append("file",new Blob([lc.getSVGString()], {type: "image/svg"}),"SVG.svg");
      console.log(lc.getImage().toDataURL());
      formData.append("csrfmiddlewaretoken",csrftoken); // This works, I am not sure why the header method does not

      request.send(formData);


    });
  });
</script>
<script>
    $(document).ready(function() {
  $('#summernote').summernote();
  $('#hide-summernote').click(function(){
  $('#notes').toggle();
  console.log($('#summernote').summernote('code'))
  });
});
</script>
{% endblock%}




