
{% extends 'index.html' %}
{% load staticfiles %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->

    <!--<title>User test</title>-->


    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!-- It is important to put the bootstrap scripts in the head -->
{% block pagehead %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
 
   <!-- stylesheet -->
    <link href="{% static 'Test_App/css/literallycanvas.css' %}" rel="stylesheet" />

    <!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.js"></script>

    <!-- Literally Canvas -->
    <script src="{% static 'Test_App/js/literallycanvas.js' %}"></script>

{% endblock %}







 {% block content %}
<div class="literally export-svg"></div>

<form class="controls export-svg">
  <input action="post" class="btn btn-primary" type="submit" data-action="export-as-svg" value="Export as SVG" />

</form>
{% endblock %}
{% block bodyscripts %}
    <!-- kick it off -->
<script>
  $(document).ready(function() {
             var url
             var posturl
             var csrfToken
             csrfToken="{% csrf_token %}"
             posturl="{% url 'Canvas2' %}"
            url="{% static 'Test_App/img'%}"
    var lc = LC.init(document.getElementsByClassName('literally export-svg')[0],{imageURLPrefix: url });
    $('.controls.export-svg [data-action=export-as-svg]').click(function(e) {
      e.preventDefault();
      var svgString = lc.getSVGString();
      $.post(posturl,"file:image/svg+xml;base64," + btoa(svgString)+",csrf:csrfToken");
    });
  });
</script>
{% endblock%}




