{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block pagehead %}
<link href="{% static 'Test_App/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
       <!-- IMPORTANT enctype attribute! -->
        <form class="dropzone" action="{% url 'Files' %}" method="post" enctype="multipart/form-data" id="my-dropzone">
            {% csrf_token %}
        </form>
        <button class="btn btn-primary" id="submit-all">
            Submit all files
        </button>

        <script src="{% static 'Test_App/js/dropzone.js' %}"></script>
        <script src="{% static 'Test_App/js/DropZone_init.js' %}">
        </script>


{% endblock %}
